@use "../../styles/mixins" as *;

.todo {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.01);
  }

  @include tablet {
    width: 100%;
  }

  &__text {
    flex: 1;
    padding: 0.3125rem;
    border: none;
    font-size: 1.25rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    margin-left: 0.625rem;
    font-size: 1.5625rem;
    cursor: pointer;
  }
}
