@use "../../styles/mixins" as *;

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29.5%;
  border-radius: 5px;
  padding: 1.25rem;
  margin-top: 0.9375rem;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 40%;
  }

  &__text {
    flex: 1;
    padding: 0.3125rem;
    border: none;
    font-size: 1.25rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    margin-left: 0.625rem;
    font-size: 1.5625rem;
    cursor: pointer;
  }
}
