// Color Variable
$color-body-text: white;
$color-background: #2f74c0;

$color-card-background: White;

$color-button-text: white;
$color-button-background: #2f74c0;
$color-button-background-hover: #388ae2;
