// Color Variable
$color-body-text: white;
$color-background: #2f74c0;

$color-card-background: White;

$color-button-text: black;
$color-button-background: #ffb51c;
$color-button-background-hover: #f2a917;
