@use "../../styles/color" as *;
@use "../../styles/mixins" as *;

.input {
  display: flex;
  justify-content: center;
  width: 90%;
  position: relative;
  align-items: center;
  margin-bottom: 3rem;

  @include tablet {
    width: 70%;
  }

  &__box {
    width: 100%;
    border-radius: 3.125rem;
    padding: 1.25rem 1.875rem;
    font-size: 1rem;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    font-family: "Cardo", serif;

    @include tablet {
      font-size: 1.5625rem;
    }
  }

  &__submit {
    position: absolute;
    width: 6.25rem;
    height: 2.5rem;
    margin: 0.75rem;
    border-radius: 3.125rem;
    right: 0;
    border: none;
    font-size: 0.9375rem;
    background-color: $color-button-background;
    color: $color-button-text;
    transition: 0.2s all;
    box-shadow: 0 0 0.625rem black;
    cursor: pointer;

    @include tablet {
      height: 3.125rem;
    }

    &:hover {
      background-color: $color-button-background-hover;
    }

    &:active {
      transform: scale(0.8);
      box-shadow: 0 0 5px black;
    }
  }
}
